.map-canvas {
  position: absolute;

  width: 100%;

  height: 100%;

  transition: opacity 150ms ease-in;

  background-color: transparent;

  opacity: 0;
}

.show-map {
  opacity: 1;
}

.btn-button {
  padding: 15px;
  margin: 25px;
  min-width: 88px;
  border-radius: 15px;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  outline: none;
  background-color: #5757ab;
  color: white;
  font-weight: bold;
  width: 80%;
  height: 62px;
}
